/* for mobile screen  */

@media screen and (min-width:350px) and (max-width:576px) {

    .logo-container {
        flex-direction: column;
    }

    .about-us {
        flex-direction: column;
        padding-top: 30px;
    }

    /* 2nd sectoin  */

    .boxes {
        flex-direction: column;
        margin-top: 80px;
    }
    .box-2{
        width: 90%;
    }
    .box-2 img {
        /* height: auto; */
        width:100%;
        margin-top: 40px;
    }


    /* cards games section  */
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .cards p {
        text-align: center;
    }


    /* footer section starts  */


    .footer-container {
        /* align-content: center; */
        padding: 30px;
    }

    .footer-contents,
    .footer-menus {
        flex-wrap: wrap;
        gap: 60px;
    }

    svg {
        flex-wrap: wrap;
        gap: 60px;
    }

}













/* for tab screen  */

@media screen and (min-width:577px) and (max-width:800px) {
    .logo-container {
        flex-direction: column;
    }

    .about-us {
        flex-direction: column;
        padding-top: 60px;
    }

}