/* for mobile screen  */

@media screen and (max-width:576px) {

    .logo-container {
        flex-direction: column;
    }

    .about-us {
        flex-direction: column;
        padding-top: 30px;
    }

    /* 2nd sectoin  */

    .boxes {
        /* justify-content: space-between; */
        flex-direction: column;
        margin-top: 80px auto;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 90%;
    }

    .box-2 img {
        /* height: auto; */
        width: 100%;
        margin-top: 40px;

    }

    /* we are gamer section */
    .we-are-gamer-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .we-are-txt {
        text-align: center;
    }

    .we-are-img {
        width: 100%;
        justify-content: center;
        /* padding-left: 85px; */
    }

    /* cards games section  */
    .cards-container {
        margin: 0px auto;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .cards p {
        text-align: center;
    }



    /* special gaming section */
    .special-gaming-container {
        flex-direction: column;
    }

    .game-desc h1,
    .game-desc p {
        text-align: center;
        margin: 30px 0;
    }

    .game-picture {
        width: 80%;
        margin-left: 50px;
    }

    .primary-picture {
        height: auto;
        width: 100%;

    }

    .primary-picture img {
        /* height: auto; */
        width: 100%;

    }

    .secondary-img img {
        width: 150px;
        height: 180px;
        margin-top: 100px;
        margin-left: 100px;
    }



    /* various games starts section */
    .various-game-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        /* display: flex;
    flex-direction: column; */

    }




    /* various games ends section */



    /* footer section starts  */


    .footer-container {
        /* align-content: center; */
        padding: 30px;
    }

    .footer-contents,
    .footer-menus {
        flex-wrap: wrap;
        gap: 60px;
    }

    svg {
        flex-wrap: wrap;
        gap: 60px;
    }



}




/* ......................................................................................... */



/* for large mobile screen */

@media screen and (min-width:577px) and (max-width:767px) {
    .logo-container {
        flex-direction: column;
        align-items: center;
    }

    .about-us {
        flex-direction: column;
        padding-top: 30px;
    }

    .boxes {
        /* justify-content: space-between; */
        flex-direction: column;
        /* margin-top: 20px; */
        background-image: none;
    }

    .we-are-gamer-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 500px;
    }

    .we-are-txt {
        text-align: center;
    }

    .we-are-img {
        width: 100%;

    }


    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .games-title {
        padding-top: 100px;
    }

    .card-image-container {
        display: flex;
        /* flex-direction: row; */
    }

    .game-picture {
        width: 100%;
        padding: 50px;
        /* margin-left: 100px; */
    }

    .primary-picture {
        width: 80%;
        margin: 0 auto;
    }

    .primary-picture img {
        width: 100%;
    }

    .secondary-img {
        margin-left: 10px;
    }


    .special-gaming-container {
        flex-direction: column;
    }

    .game-desc p,
    .game-desc h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .various-game-container {
        flex-wrap: wrap;
        padding: 60px;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        justify-content: center;
    }
}



/* ................................................................................................ */



/* for tab screen  */

@media screen and (min-width:768px) and (max-width:991px) {
    .logo-container {
        flex-direction: column;
        align-items: center;
    }

    .about-us {
        flex-direction: column;
        padding-top: 30px;
    }

    .boxes {
        /* justify-content: space-between; */
        flex-direction: column;
        /* margin-top: 20px; */
        background-image: none;
    }

    .box-1 {
        width: 100%;
    }

    .box-1 h1,
    .box-1 p {
        text-align: center;
    }

    /* we are gamer section */
    .we-are-gamer-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 500px;
    }

    .we-are-txt {
        text-align: center;
    }

    .we-are-img {
        width: 100%;

    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .games-title {
        padding-top: 100px;
    }

    .card-image-container {
        display: flex;
        /* flex-direction: row; */
    }

    .game-picture {
        width: 100%;
        padding: 50px;
        /* margin-left: 100px; */
    }

    .primary-picture {
        width: 80%;
        margin: 0 auto;
    }

    .primary-picture img {
        width: 100%;
    }

    .secondary-img {
        margin-left: 10px;
    }

    .special-gaming-container {
        flex-direction: column;
    }

    .game-desc p,
    .game-desc h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    .various-game-container {
        flex-wrap: wrap;

        padding: 60px;
        display: grid;
        grid-template-columns: repeat(3, 200px);
        justify-content: center;
    }
}