@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');
* {
    margin: 0;
    padding: o;
    font-family: 'Work Sans', sans-serif;
    /* max-width: 1440px;
    margin: 0 auto; */
}

/* logo section starts here */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 30px; */
    padding: 30px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.web-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.gamer-text {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.g {
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about-us{
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-us a{
    color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
text-decoration: none;
}
.logo-button{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
border: none;
padding: 20px;
display: flex;
align-items: center;
gap: 20px;
}
.about-us p:hover{
    cursor: pointer;
}
.icon:hover {
cursor: pointer;
}

/* logo section ends here */

/* play like the goat section starts here */

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* .box-1{
    background-image: url('./images/Group\ 14.png');
    background-size: auto;
    background-repeat: no-repeat;
    height: 700px;
    width: 900px;
    align-items: center;
    justify-content: center;
} */

.box-1 h1{
    color: #0B0223;
font-size: 48px;
font-weight: 600;
}
.box-1 p{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

font-size: 95px;
font-weight: 800;

}
.box-1 h4{
    color: #534C64;
font-size: 20px;
font-weight: 500;
padding-top: 16px;
}

.btn-1{
    border: none;
    border-radius: 48px;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 600;
margin-right: 25px;
}
.btn-2{
    border: none;
    border-radius: 48px;
background-color: #4EC5F7;;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
color: #FFF;
font-size: 20px;
font-weight: 600;
margin-top: 40px;
}
.box-2{
    background-image: url('./images/Group\ 18.png');
    background-repeat: no-repeat;
    height: 700px;
    width: 40%;
}

.btn-1, .btn-2{
cursor: pointer;
}


/* play like the goat section ends here */


/* cards section starts  */
.cards-banner{
    background-color: #fff9f9;
}

.games-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
}
.funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}
.games-desc{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
padding-top: 30px;
}
.cards-container{
display: flex;
justify-content: space-around;
}
.cards{
    height: 500px;
    width: 320px;
    border-radius: 16px;
    padding-top: 40px;
}
.cards p{
    color: #534C64;
font-size: 20px;
font-style: normal;
font-weight: 500;
}
.special-image{
    border-radius: 16px;
}



/* footer section starts  */
footer{
    background-color: #0B0223;
flex-shrink: 0;
align-items: center;
text-align: center;
}
/* .footer-container{
    max-width: 1400px;
    margin: 0 auto;
} */
.footer-container svg{
    width: 40px;
    height: 40px;
    padding-top: 60px;
}
.logo-footer{
    display: flex;
align-items: center;
justify-content: center;
padding-top: 60px;
}
.amer{
    color: #FFF;
}
.footer-contents{
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-top: 60px;
    flex-wrap: wrap;
}
.footer-contents a{
    text-decoration: none;
    color: #FFF;
}
.social-icons:hover{
cursor: pointer;
}
.footer-menus {
    color: white;
display: flex;
justify-content: center;
padding-top: 60px;
gap: 60px;
}
.footer-menus a{
    text-decoration: none;
    color: #FFF;
}
.footer-last-line{
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}